[user]
	name = Nathaniel Beaver\n
	email = nathanielmbeaver@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple

[diff "csv"]
	wordRegex = [^,\n]+[,\n]|[,]
[core]
	excludesfile = /home/nathaniel/.gitignore_global
[alias]
	iaddpw = add--interactive-words --patch=stage --
[transfer]
	fsckObjects = true
