[user]
	name = Nathaniel Morck Beaver\n
	email = nathanielmbeaver@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple

[diff "csv"]
	wordRegex = [^,\n]+[,\n]|[,]
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	attributesfile = ~/.gitattributes
[alias]
	iaddpw = add--interactive-words --patch=stage --
[transfer]
	fsckObjects = true
[credential "https://gitlab.com"]
	provider = generic
# https://github.com/git-ecosystem/git-credential-manager/issues/364

[filter "strip-notebook-output"]
    clean = "jupyter nbconvert --ClearOutputPreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR"
# https://stackoverflow.com/questions/28908319/how-to-clear-jupyter-notebooks-output-in-all-cells-from-the-linux-terminal
